[submodule "vendor/lua-fibers"]
	path = vendor/lua-fibers
	url = https://github.com/jangala-dev/lua-fibers.git
[submodule "vendor/lua-trie"]
	path = vendor/lua-trie
	url = https://github.com/jangala-dev/lua-trie.git
[submodule "vendor/lua-bus"]
	path = vendor/lua-bus
	url = https://github.com/jangala-dev/lua-bus.git
[submodule "vendor/local-ui"]
	path = vendor/local-ui
	url = https://github.com/jangala-dev/local-ui.git
[submodule "vendor/lua-fibers"]
	path = vendor/fibers
	url = https://github.com/jangala-dev/lua-fibers.git
